.playground {
  border: 1px solid aqua;
  margin: auto;
  width: 50%;
}

.field {
  overflow: hidden;
  display: table;
  margin: 0 auto;
}

.field div{
  width:100px;
  height:100px;
  border:1px solid black;
  float:left;
  background-color: aqua;
}

.field div:nth-of-type(10n+1){
  clear:left;
}

.field div.hit {
  background-color: red;
}

.field div.miss {
  background-color: blue;
}

.score {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
